<div class="container">
  <h1>Recent Tweets</h1>

  <form action="/search" method="post">
    <fieldset>
      <legend>Search by User</legend>
      <input name="screen_name" type="text" placeholder="screen_name" required>
      <input type="submit" value="search">
    </fieldset>
  </form>
</div>
